.img_cont{
    width: 100% !important;
    height: 100% !important;
    margin-right: 3px;
   position: absolute;
    left: 0;
    top: 0;
    background-image: url("../../../assets/banner/banner2.png");
}
.img_Slider{
    top: 0;
    left: 0;
}

.Title_cont{
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 100px;
    position: absolute;
    font-weight: 400;
    left: 23%;
    top: 43%;
}
.Des_cont{
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 25px;
    position: absolute;
    font-weight: 400;
    left: 34%;
    top: 61%;
}

