<!-- <section class="Home">
    <div class="container-fluid">
           <owl-carousel 
        [options]="customOptions"
        [items]="photos"
        [carouselClasses]="[ 'owl-theme', 'row', 'sliding']"
        style="position: relative;
        top: -127px;"
        >  -->
        
          
      <!--   <div class="item " *ngFor="let item of photos; let i = index">  
            
           
              <div   class=" img_Slider" > 
            
             <div >
                <img class="img_cont" src="../../../assets/banner/banner2.png"  >
            </div> 
            
              <h1 class="Title_cont"> Life is Beautiful </h1>
             <h3 class="Des_cont"> Unlock to enjoy the view of Martine </h3> 
        </div>

           </div>  -->
        
       
    <!--  </owl-carousel> 
    </div>
</section> -->

<section class="Home">
    <div class="container-fluid">
    
     
           
              <div   class=" img_Slider" > 
            
                <div class="img_cont" >
                    <img src="../../../assets/banner/banner2.png"  >
                </div> 
            
              <h1 class="Title_cont"> Life is Beautiful </h1>
             <h3 class="Des_cont"> Unlock to enjoy the view of Martine </h3> 
        </div>
 
    </div>
</section>
