<footer class="footer">
      
     <br> <br> <br> <br> <br>

     <div class="row" style="width: 100%;">
         <div class="col-md-2 secICont">
            <p class="secTxt"> Address </p>
            <br> 
            <p class="desTxt">
                 200, Green road, Mongla,
                <br>
                  New Yor City USA
            </p>
             
            <button class="getDir" > Get Direction </button>
         </div>

         <div class="col-md-2 secIICont">
           <p class="secTxt" > Reservation</p>
           <br>
           <p class="desTxt">+10 367 267 2678</p>
            <p class="desTxt">reservation@montana.com</p>
        </div>

        <div class="col-md-2 secIIICont">
           <p class="secTxt" > Navigation</p>
           <br>
           <a href="/" class="desTxt specHei"> Home</a>  <br>
           <a href="" class="desTxt specHei">Rooms</a>  <br>
           <a href="/about" class="desTxt specHei">About</a>  <br>
           <a href="" class="desTxt specHei">News</a>  <br>
        </div>

        <div class="col-md-3">
           <p class="secTxt"> Newsletter</p>
           <br>
        
           <form class="example-form">
              <mat-form-field appearance="fill" >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Simple placeholder">
          </mat-form-field>
           </form>
           

        </div>
     </div>
     <br> <br> <br> <br>

     <hr class="horLine">
     <br>
     <div class="row footTxt" style="width: 100%;">
        <p class="copTxt"> Copyright ©2020 All rights reserved  </p>
        <div class="Links_icon ">
           
                   <a>
                      <i class="fa fa-facebook-square"></i>    
                    </a>

                    <a>
                       <i class="fa fa-twitter"></i>    
                     </a>

                    <a>
                       <i class="fa fa-instagram"></i>    
                     </a>
                
        </div>
     </div>
    
</footer>
    
